
@tailwind base; @tailwind components; @tailwind utilities;

@layer base {
  @font-face {
      font-family: "geoform";
      src: url(/fonts/centurygothic_bold.ttf) format('truetype');
  };
}

body{
  background-color:  rgb(224, 221, 214);
}